button {
    flex-basis: 50%;
    color: white;
    padding: 20px 0;
    font-size: 26px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.btn__add {
    background-color: green;
}

.btn__clear {
    background-color: #ffa812;
    color: black;
}

.btn__subtract {
    background-color: #d81305;
}

@media (min-width: 1024px) {
    .btn__add:hover {
        background-color: rgb(20, 190, 20);
    }

    .btn__clear:hover {
        background-color: #fbff00;
        color: black;
    }

    .btn__subtract:hover {
        background-color: #f87249;
    }
}